@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The formost authority that you will need to keep up  a good humour on this project</a>.</p>
</div>
